<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Presentation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
  <connectionStrings>
    <add name="Y29ubg==" connectionString="Server=mysql-13095-0.cloudclusters.net;Port=13095;Database=wabutt;Uid=tc2;Pwd=Kimberly16;CheckParameters=False;"/>
  </connectionStrings>
  <userSettings>
    <Presentation.Properties.Settings>
      <setting name="email" serializeAs="String">
        <value />
      </setting>
      <setting name="pwd" serializeAs="String">
        <value />
      </setting>
    </Presentation.Properties.Settings>
  </userSettings>
</configuration>
